
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color:aqua;
        }
        body{
            background-image: url("https://as1.ftcdn.net/v2/jpg/04/34/47/38/1000_F_434473854_0lO36QygGQrotFvTYtmHbA3BqV5ZYPHO.jpg");
        background-size: cover;
        }
        button {
    position: absolute;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  }
  b{
    color:red;
  }
  
  
    </style>
</head>
<body>
        
        <center>

           
            <div class="container"><br>

                <h1>Login</h1>
               
            <img src="https://cdn-icons-png.flaticon.com/512/3024/3024605.png" height="100" width="100"><br>
            <form method="POST">
        <label for=""><b>UserName:</b></label>
        <input type="text" name="username"placeholder="Enter your username"><br><br>
        <label for=""><b>Password:</b></label>
        <input type="password" name="password" placeholder="Enter your password"><br><br>
        <button>Cancel</button>
        <button>submit</button>
        </div>
    </form>
    </center>
</body>
</html>