<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color:red;
        }
        button {
    position: absolute;
    background-color:yellow;
    color:black;
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  }
  .container{
            border:solid rgb(197, 186, 186);
            size:10px;
            padding:25px;
        }
       
    </style>
</head>
<body>
    <form method="post">
        <center>
            <div class="container">

           <h1>Registration</h1>
        <label for=""><b>UserName:</b></label>
        <input type="text" name="username"><br><br>
        <label for=""><b>Mobile:</b></label>
        <input type="number" name="mobile"><br><br>
        <label for=""><b>Email:</b></label></label></label>
        <input type="text" name="email"><br><br>
        <label for=""><b>Address:</b></label>
        <input type="text" name="address"><br><br>
        <label for=""><b>password:</b></label>
        <input type="password" name="password"><br><br>
        <button >Submit</button><br>
        <p>Already you have an account &nbsp;&nbsp;</p>
        </div>
    </center>
    
    </form>
</body>
</html>